@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
input, button, textarea, select {
    font: inherit;
}
/* * * * || VARIABLES * * * */
:root {
    /* FONTS */
    --HEADER-FONT-FAMILY: 'Raleway', sans-serif;
    --BODY-FONT-FAMILY: 'Open Sans', sans-serif;
    --FONT-400: 400;
    --FONT-700: 700;

    /* COLORS */
    --BG-INTRO-EMAIL: #1c2431;
    --BG-MAIN: #181f2a;
    --BG-FOOTER: #0b1523;
    --BG-TESTIMONIALS: #202a3c;

    --CYAN: #65e2d9;
    --BLUE: #339ecc;
    --RED: #ff4242;
    --WHITE: #ffffff;
}

/* * * * || GENERAL STYLES * * * */
html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--WHITE);
    background: var(--BG-MAIN);
}
main {
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* * * * || HEADER / NAVIGATION * * * */
nav, h1, button, h2, h4 {
    font-family: var(--HEADER-FONT-FAMILY);
    color: var(--WHITE);
}
p { 
    font-family: var(--BODY-FONT-FAMILY);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 4.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--BG-INTRO-EMAIL);
    width: 100%;
}
nav {
    display: flex;
    gap: 3.6rem;
}
nav a {
    font-weight: var(--FONT-400);
    font-size: 1rem;
    text-decoration: none;
    color: var(--WHITE);
}
nav a:hover {
    font-weight: var(--FONT-700);
    text-decoration-line: underline;
    cursor: pointer;
}
/* * * * || HERO * * * */

.hero {
    margin-top: 4.7rem;
    text-align: center;
}
.hero__image {
    margin: 0 auto;
}
h1 {
    font-weight: var(--FONT-700);
    width: 45rem;
    margin-top: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}
.hero__details {
    font-family: var(--BODY-FONT-FAMILY);
    font-weight: var(--FONT-400);
    font-size: 1.25rem;
    width: 36.8rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.hero__button {
    width: 20rem;
    border: none;
    padding: 1.125rem;
    background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    font-weight: var(--FONT-700);
    margin-top: 2rem;
}
.hero__button:hover {
    cursor: pointer;
    background: #8ADAE3;
}

/* * * * || 4-CARD INFO BOXES * * * */
.articles {
    display: grid;
    width: 55rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    row-gap: 5rem;
    column-gap: 9rem;
}
.article__icon {
    margin: 0 auto;
}
h4 {
    font-weight: var(--FONT-700);
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
}
.article__details {
    font-family: var(--BODY-FONT-FAMILY);
    font-weight: var(--FONT-400);
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.5rem;
}

/* * * * || HEADLINE 2 * * * */
.product__headline2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8.56rem;
    margin-left: auto;
    margin-right: auto;
    width: 77rem;
    gap: 3.56rem;
}
.headline2 {
    margin-top: 7rem;
    width: 35rem;
}
.headline2__title {
    font-weight: var(--FONT-700);
    font-size: 2.5rem;
    text-align: left;
}
.headline2__details {
    font-weight: var(--FONT-400);
    font-size: 1rem;
}
.headline2__link {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "h2__link arrow";
    width: 11rem;
    border-bottom: 1px solid var(--CYAN);
    justify-content: space-between;
}
.headline2__link a {
    font-weight: var(--FONT-400);
    font-size: 1rem;
    line-height: 22px;
    color: var(--CYAN);
    text-decoration: none;
    align-content: center;    
}
.arrow {
    place-self: center;
}
.headline2__link a:hover {
    cursor: pointer;
    color: #FFFFFF;
}
/* * * * || TESTIMONIALS * * * */
.testimonials {
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 2rem 13rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 74rem;
    gap: 2rem;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
} 
.testimonial {
    width: 22.5rem;
    background: var(--BG-TESTIMONIALS);
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;    
    padding: 2.5rem 1.56rem 1.625rem;
}
.testimonial__quote {
    font-weight: var(--FONT-400);
    font-size: .875rem;
    letter-spacing: .5px;
}
.user__image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-top: 1.5rem;
}
.profile__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    width: 7.5rem;
}
.user {
    margin-top: 1.5rem;
    width: 5.5rem;
}
.name {
    font-weight: var(--FONT-700);
    font-size: .625rem;
    letter-spacing: .5px;
}
.position {
    font-weight: var(--FONT-400);
    font-size: .4375rem;
    letter-spacing: .5px;
}

/* * * * || CALL TO ACTION * * * */
.call__to__action {
    width: 54rem;
    background: #1B2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    margin-top: 12.56rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    z-index: 1;
    position: relative;
    top: 8rem;
}
.action__heading {
    text-align: center;
    font-weight: var(--FONT-700);
    font-size: 2rem;
    padding-top: 2.625rem;
}
.action__details {
    text-align: center;
    font-weight: var(--FONT-400);
    font-size: .875rem;
    margin-top: 1rem;
    width: 42rem;
    margin-left: auto;
    margin-right: auto;
}
.input__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 44rem;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.userForm {
    position: relative;
}
.userEmail {
    width: 30rem;
    height: 3rem;
    outline: none;
    padding-left: 32px;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    border: none;
}
.alert { 
    display: none;
    text-align: left;
    position: absolute;
    margin-left: 7rem;
    margin-top: .5rem;
    font-size: 10px; 
    color: var(--RED);   
}
form.error .alert {
    display: block;
}
::placeholder {
    font-size: .75rem;
    font-weight: var(--FONT-400);
    color: #C0C0C0;
}
.cta__button {
    background: linear-gradient(129.57deg, #63E1D9 -26.63%, #34A0CD 100%);
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    width: 12.5rem;
    height: 3rem;
    border: none;
    font-weight: var(--FONT-700);
    font-size: .875rem;
}
.cta__button:hover {
    background: #8ADAE3;
    cursor: pointer;
}

/* * * * || FOOTER * * * */
footer {
    background: var(--BG-FOOTER);
    height: 28rem;
}
.footer__container {
    width: 77.7rem;
    height: 13.7rem;
    padding-top: 14rem;
    margin-left: auto;
    margin-right: auto;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__columns {
    margin-top: 3.25rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
}
.column1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 23.7rem;  
}
.location {
    width: 21rem;
    line-height: 22px;
    font-size: 14px;
    font-weight: var(--FONT-400);
}
.phone__number, .company__email__address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 10.7rem; 
    margin-bottom: 1.1875rem;
    align-content: center; 
    line-height: 22px;
    font-size: 14px;
    font-weight: var(--FONT-400);
}
.phone, .company__email {
    width: 8rem;
}
.column5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}
.phone__icon, .email__icon {
    place-self: center;
}
.social {
    margin-right: 10px;
    padding: 5px;
    border: .5px solid #FFFFFF;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.footer__container a:hover {
    cursor: pointer;
    font-weight: 700;
}
.social:hover{
    background-color: #59d6be;
}
.attribution { 
    margin-top: 4em;
    font-size: 1rem; 
    text-align: center; 
    color: var(--BLUE);
}
.attribution a { 
    text-decoration: none;
    color: var(--CYAN);
}

/* * * * || MEDIA QUERIES * * * */
@media screen and (max-width: 1007px){
    .hero {
        width: 20rem;
        margin-top: 2.25rem;
        margin-left: auto;
        margin-right: auto;
    }
    h1, .hero__details {
        width: 20rem;
    }
    .articles {
        display: grid;
        width: 20rem;
        grid-template-columns: 1fr;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
        row-gap: 5rem;
        column-gap: 9rem;
    }
    .product__headline2 {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 8.56rem;
        margin-left: auto;
        margin-right: auto;
        width: 20rem;
        gap: 3.56rem;
    }
    .headline2__image,
    .headline2__title,
    .headline2__details {
        width: 20rem;
    }
    .testimonials {
        background-image: url(images/bg-quotes.png);
        background-repeat: no-repeat;
        background-position: 1rem .25rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 20rem;
        padding: 2rem;
        gap: 2rem;
        align-content: center;     
    } 
    .call__to__action {
        width: 21rem;
        background: #1B2330;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
        border-radius: 9px;
        margin-top: 12.56rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2rem;
        z-index: 1;
        position: relative;
        top: 4rem;
    }
    .input__box {
        display: grid;
        grid-template-columns: 1fr;
        width: 17.5rem;
        gap: 2rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .action__details{
        width: 17.5rem;
    }
    .userEmail {
        width: 17.5rem;
        height: 3rem;
    }
    .cta__button {
        width: 17.5rem;
    }
    footer {
        background: var(--BG-FOOTER);
        height: 61rem;
    }
    .footer__container {
        width: 22rem;
    }
    .footer__columns {
        margin-top: 3.25rem;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 1.75rem;
    }
    .column5 {
        width: 8rem;
        margin-left: auto;
        margin-right: auto;
    }
}
/* @media screen and (min-width: 1008px){
    
} */

